
#hello {
  padding-top: 250px;
  padding-bottom: 200px;
  h1 {
    font-size: 70px;
  }
  .login-form {
    padding-top: 60px;
    input {
      height: 55px;
      font-size: 18px;
    }
  }
}

.login-div{
  padding-top: 100px!important;
  padding-bottom: 350px!important;
  h1{
    font-size: 25px!important;
    color: #777777!important;
    letter-spacing: 0px!important;
  }
  .login-form {
    padding-top: 20px!important;
    input, button{
      margin-top: 15px!important;
      width: 400px!important;
    }
  }
}

.letters-div {
  @extend .login-div;
  padding-top: 50px!important;
  padding-bottom: 240px!important;
  
  h1 {
    @extend h1;
    padding-bottom: 30px!important;
  }
  img {
    height: 400px;
    max-width: auto;
  }
}

#green {
    padding-bottom: 50px;
}

.navbar-brand {
  span {
    font-size: 40px;
  }
}


//droppable list
.letters-grid-div {
  max-width:1000px;
  padding-top: 113px;
}

#letters-grid {
    list-style-type: none;;
    margin: 0px;
    li {
        float: left;
        margin: 2px;
        padding: 2px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .ui-selected {
        background: #17cf74;
        color: white;
        font-weight: bold;
    }
    .swappable-list {
        background-color: #74cfae;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
        font-family: Geneva,Arial,Helvetica,sans-serif;
        border: 1px solid gray;
    }
    .highlight {
        border: 2px solid #17cf74;
        font-weight: bold;
        font-size: 35px!important;
        background-color: lightblue;
    }
}