{% extends 'core/base.html' %}

{% load staticfiles i18n %}

{% block navbar %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#games">{% trans 'Games' %}</a></li>
        <li><a href="#contact">{% trans 'Contact' %}</a></li>
        <li class="active"><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
{% endblock %}

{% block main %}
    <div id="hello">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered">
                    <h1>{% trans 'Educational games for kids' %}</h1>
                    <h2>{% trans 'WE WILL TEACH YOUR KIDS TO READ' %}</h2>
                    <form class="form-inline login-form" role="form">
                      <div class="form-group">
                          <input type="email" class="form-control" placeholder="Email address">
                      </div>
                      <div class="form-group input-login">
                          <input type='password' class="form-control" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-info">{%  trans 'CREATE ACCOUNT' %}</button>
                    </form>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /hello -->

    <section id="games"></section>
    <div id="green">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 centered">
                </div>

                <div class="col-lg-7 centered">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row centered mt grid">
            <h3>AVAILABLE GAMES</h3>
            <div class="mt"></div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <a href="{% url 'letters_page' %}"><img src="{% static 'img/cube.jpg' %}" alt=""></a>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>

    <div id="skills">
        <div class="container">
            <div class="row centered">
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /skills -->

    <section id="contact"></section>
    <div id="social">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="col-md-3">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><i class="fa fa-vk"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /social -->
{% endblock %}

{% block extra_js %}
    {% include 'core/parallax_demo.html' %}
{%  endblock %}