#hello { padding-top: 250px; padding-bottom: 200px; }
#hello h1 { font-size: 70px; }
#hello .login-form { padding-top: 60px; }
#hello .login-form input { height: 55px; font-size: 18px; }

.login-div, .letters-div { padding-top: 100px !important; padding-bottom: 350px !important; }
.login-div h1, .letters-div h1 { font-size: 25px !important; color: #777777 !important; letter-spacing: 0px !important; }
.login-div .login-form, .letters-div .login-form { padding-top: 20px !important; }
.login-div .login-form input, .letters-div .login-form input, .login-div .login-form button, .letters-div .login-form button { margin-top: 15px !important; width: 400px !important; }

.letters-div { padding-top: 50px !important; padding-bottom: 240px !important; }
.letters-div h1 { padding-bottom: 30px !important; }
.letters-div img { height: 400px; max-width: auto; }

#green { padding-bottom: 50px; }

.navbar-brand span { font-size: 40px; }

.letters-grid-div { max-width: 1000px; padding-top: 113px; }

#letters-grid { list-style-type: none; margin: 0px; }
#letters-grid li { float: left; margin: 2px; padding: 2px; width: 50px; height: 50px; line-height: 50px; }
#letters-grid .ui-selected { background: #17cf74; color: white; font-weight: bold; }
#letters-grid .swappable-list { background-color: #74cfae; font-size: 30px; text-align: center; cursor: pointer; font-family: Geneva,Arial,Helvetica,sans-serif; border: 1px solid gray; }
#letters-grid .highlight { border: 2px solid #17cf74; font-weight: bold; font-size: 35px !important; background-color: lightblue; }
